

body {
    background-color: #dbb1d9;
    color: #fff;
    
  }

  span#score {
    font-size: 1.1em;
    margin: 1em 0;
    text-align: center;
  }

  span#time-left {
    font-size: 1.1em;
    margin: 1em 0;
    text-align: center;
  }


.grid {
	width: 306px;
	height: 306px;
	display: flex;
	flex-wrap: wrap;
    
}

.square {
	height: 100px;
	width: 100px;
	border: solid black 1px;
}

.mole {
	background-image: url("mole.png");
	background-size: cover;
}

